html {
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-bs-theme="dark"] .bg-dark {
    background-color: #ffffff !important;
    color: #000000 !important;
}

[data-bs-theme="dark"] .bg-light {
    background-color: #000000 !important;
    color: #fff !important;
}

[data-bs-theme="dark"] .bg-dark * {
    color: #000 !important;
}

.hero {
    background: url('https://images.unsplash.com/photo-1590959651373-a3db0f38a961?auto=format&fit=crop&q=80&w=1080') center/cover no-repeat;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero .overlay {
    background-color: #242527;
    opacity: 0.8;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}

.shape {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    align-content: center;
}

.closure-example {
    width: 60px;
    height: 60px;
    border: 8px solid #000;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
}

.min-h-450 {
    min-height: 450px;
    align-content: center;
}

#continuidad {
    background-image: url('https://images.unsplash.com/photo-1633269540827-728aabbb7646?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1632');
}

#region {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1603090341546-01487d582035?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470');
    background-size: cover;
    background-position: center;
}

#region::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.55;
    z-index: 0;
}

#region .container {
    position: relative;
    z-index: 1;
}

.figura {
    width: 60px;
    height: 60px;
}

.fondo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.centro {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.region {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 200px;
    justify-self: center;
}

.responsive-width {
    width: 50%;
}

@media (max-width: 960px) {
    .responsive-width {
        width: 75%;
    }
}